html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}
/* 
***CSS reset above */

.hidden {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Lato", sans-serif;
}

.header-banner {
  display: inline-flex;
  box-shadow: 0 0.25em 1em rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  width: calc(100%);
  max-height: 11vh;
  top: 0%;
  position: fixed;
  z-index: 1;
  margin-bottom: 1em;
}

.company-logo {
  text-decoration: none;
}

.company-logo:hover {
  cursor: pointer;
  text-shadow: 0.055em 0.055em rgba(0, 0, 0, 0.185);
}

.company-logo:visited {
  color: black;
}

h1 {
  margin: 0.75em 2em 0.75em 1em;
}

.header-icon-container {
  margin-left: -2em;
  margin-top: 1.25em;
  position: absolute;
  right: 5%;
}

.basket-icon,
.profile-icon {
  font-size: 2em;
  cursor: pointer;
  text-decoration: none;
}

.basket-total {
  display: inline-flex;
}

main {
  margin: 4em 2em 2.5em 2em;
  font-size: 1.375em;
}

h2 {
  padding-top: 0.5em;
  padding-bottom: 0.25em;
}

.intro-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-block {
  background-image: url("./images/twoDogsPlaying.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  justify-content: center;
  align-items: center;
  height: 65vmin;
  width: 85vmin;
  margin-top: 1.5em;
  max-width: 600px;
}

.intro-block:hover {
  opacity: 0.75;
}

.intro-text {
  color: white;
  text-shadow: 0.075em 0.075em black;
  font-size: 6vmin;
}

.hover-text {
  color: white;
  text-shadow: 0.075em 0.075em black;
  font-size: 4vmin;
  text-decoration: none;
}

.hover-text:hover {
  cursor: pointer;
  color: teal;
}

.divider {
  border: 0.1em black solid;
  width: 100%;
}

.product-display-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-row1,
.product-row2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.toy-container {
  overflow: hidden;
  height: 29.5rem;
  width: 45vw;
  border: 0.05em black none;
  border-radius: 1%;
  padding: 1.25em 0.75em 0 0.75em;
  margin-right: 0.25em;
  margin-left: 0.25em;
  margin-bottom: 1.25em;
  box-shadow: 0.3em 0.3em 0.75em rgba(0, 0, 0, 0.185);
}

.product-image {
  box-shadow: -0.15em 0 0.75em rgba(0, 0, 0, 0.185);
}

.add-basket {
  cursor: pointer;
  padding-bottom: 1em;
}

.add-basket:hover {
  color: teal;
}

.bone-page-link,
.monkey-page-link,
.reindeer-page-link,
.ball-page-link {
  text-decoration: none;
  color: black;
}

.bone-page-link:hover,
.monkey-page-link:hover,
.reindeer-page-link:hover,
.ball-page-link:hover {
  color: teal;
}

.bone-page-link:visited,
.monkey-page-link:visited,
.reindeer-page-link:visited,
.ball-page-link:visited {
  color: black;
}

.carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.carousel-img {
  max-width: 25rem;
  max-height: 20rem;
  margin-top: 0.5rem;
}

.carousel-buttons {
  font-size: 3em;
  display: inline-flex;
  cursor: pointer;
}

.forward:hover,
.backward:hover {
  color: teal;
}

.forward {
  margin-top: 0.5em;
  padding-left: 0.75em;
}

.backward {
  margin-top: 0.5em;
  padding-right: 0.75em;
}

.bone-stepper,
.monkey-stepper,
.reindeer-stepper,
.ball-stepper {
  margin-top: -0.4em;
}

.empty-basket,
.empty-favourites,
.name-submit,
.remove-icon-button {
  font-family: "Lato", sans-serif;
  font-size: 1em;
  width: 6em;
  height: 3em;
  margin-top: 1em;
}

.name-input {
  font-size: 1em;
  width: 14em;
  height: 3em;
  margin-top: 1em;
}

.bone-fave-button,
.monkey-fave-button,
.reindeer-fave-button,
.ball-fave-button {
  font-size: 0.75em;
  width: 4em;
  height: 2em;
  margin-left: 0.5em;
}

.add-basket,
.item-price {
  display: inline-block;
}

.item-price {
  margin-left: 0.5em;
  border: 0.1em solid black;
  border-radius: 15%;
  padding: 0.25em;
  box-shadow: -0.1em 0 0.8em rgba(0, 0, 0, 0.185);
}

.profile-icon-container {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  height: 50%;
  width: 50%;
}

.profile-image {
  width: 50%;
  height: 50%;
}

.contact-title {
  margin-bottom: -0.5em;
}

.footer-contact {
  margin-bottom: 0.25em;
}

.contact-title {
  display: inline-block;
}

.contact-divider {
  display: inline-block;
}

.contact-link {
  text-decoration: none;
  color: black;
}

.contact-link:hover {
  color: teal;
}

@media (min-width: 500px) {
  .intro-block {
    width: 90vmin;
  }
  .intro-text {
    font-size: 5vmin;
  }
  h1 {
    padding-right: 12rem;
  }
}

@media (min-width: 800px) {
  .toy-container {
    height: 30rem;
    width: 28vw;
  }
}

@media (min-width: 1400px) {
  .toy-container {
    height: 34rem;
    width: 28vw;
  }
}

@media (min-width: 1900px) {
  .toy-container {
    height: 40rem;
    width: 28vw;
  }
}

@media (min-width: 2500px) {
  .toy-container {
    height: 42rem;
    width: 28vw;
  }
}
