html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}
/* 
***CSS reset above */

.hidden {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Lato", sans-serif;
}

.header-banner {
  box-shadow: 0 0.25em 1em rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  width: 100vw;
  top: 0%;
  position: fixed;
  z-index: 1;
  margin-bottom: 1em;
}

.company-logo{
  text-decoration: none;
}

.company-logo:hover{
  cursor: pointer;
    text-shadow: 0.055em 0.055em rgba(0, 0, 0, 0.185);
}

.company-logo:visited{
  color: black;
}

.basket-icon,
.profile-icon,
h1 {
  display: inline-block;
}

h1 {
  margin: 0.75em 5em 0.75em -2em;
}

.basket-icon,
.profile-icon {
  font-size: 2em;
  margin-left: -2.5em;
  margin-right: -0.375em;
  cursor: pointer;
  text-decoration: none;
}

main {
  margin: 4em 2em 2.5em 2em;
  font-size: 1.375em;
}

h2 {
  padding-top: 0.5em;
  padding-bottom: 0.25em;
}

.intro-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-block {
  background-image: url("./images/twoDogsPlaying.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  justify-content: center;
  align-items: center;
  height: 65vmin;
  width: 85vmin;
  margin-top: 1.5em;
  max-width: 600px;
}

.intro-block:hover{
  opacity: 0.75;
  }


.intro-text {
  color: white;
  text-shadow: 0.075em 0.075em black;
  font-size: 6vmin;
}

/* .hover-text-container{
  bottom: -10% !important;
} */

.hover-text{
 color: white;
  text-shadow: 0.075em 0.075em black;
  font-size: 4vmin;
    text-decoration: none;
}

.hover-text:hover{
  cursor: pointer;
  color: teal;
}

.divider {
  border: 0.1em black solid;
  width: 100%;
}

.carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.carousel-img {
  max-width: 25rem;
  max-height: 20rem;
  margin-top: 0.5rem;
}

.carousel-buttons {
  font-size: 3em;
  display: inline-flex;
  cursor: pointer;
}

.forward:hover,
.backward:hover {
  color: teal;
}

.forward {
  margin-top: 0.5em;
  padding-left: 0.75em;
}

.backward {
  margin-top: 0.5em;
  padding-right: 0.75em;
}

h4{
  margin-bottom: -0.5em;
}

.footer-contact {
  margin-bottom: 0.25em;
}

.contact-title{
  display: inline-block
}

.contact-divider{
  display:inline-block;
}

.contact-link {
  text-decoration: none;
  color: black;
}

.contact-link:hover {
  color: teal;
}

@media (min-width: 500px) {

  .intro-text {
  font-size: 5vmin;
}
  h1 {
    padding-right: 12rem;
  }
}
